Itemname{
color:red;
font-family:copperlate gothic light;
font-size=16pt;
font:bold;
}
Itemprice
{
color:blue;
font-family:Arial;
font-size=12pt;
font:bold;
}
Qty
{
color:blue;
font-family:Arial;
font-size=12pt;
font:bold;
}
